@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');




table th, td, tr  {
    border: 1px solid black;
    
}

table.center {
    margin-left: auto;
    margin-right: auto; 
}

h1 {
    text-align: center;
}

body {
    font-family: "Jost", sans-serif;
}